.wrap {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.link {
  text-decoration: none;
}

.avatar {
  width: 120px;
  padding: 5px;
}

.NavbarCollapse {
  margin-top: 20px;
}

.nav {
  margin-top: 20px;
}
